.head{
    height: 550px;
    font-weight: bolder;
    /* background-image: url("grand\ father.jpg"); */
    background-image: url("images/a.jpg");
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-size: 350px; */
}


h3{
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
}
.blogs{
    font-weight: bold;
    margin:40px;
    border: 10px solid tomate;
    box-shadow: 12px 8px 18px blueviolet;
    color: blue;
}

.incident{
    border: 2px solid red;
    margin: 24px;
    display: inline-block;
    color: darkred;
    font-size: large;
}